section {
    font-family: 'Mali', cursive;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8rem;
    font-size: 1.5rem;
    background: rgb(20, 20, 20);
    article{
        border-bottom: 1.5rem dotted;
        text-align: center;
        i{
            font-size: 15rem;
            &.far {
                color: yellow;
                text-shadow: 1px 10px 70px rgb(255, 145, 0), 1px 1px 300px rgb(255, 239, 168);
            }
        }
    }
}
