{% extends "light/base.html" %}
{% block header %}

{% endblock %}


{% block main %}
<section class="grid">
    {% for obj in lights %}
        <article id="light-{{ obj.light.id }}" class="grid-element">

            <p>the light : {{ obj.light.id }}</p>
            {% if obj.light.status == "ON" %}
            <i class="far fa-lightbulb"></i>
            {% else %}
            <i class="fas fa-lightbulb"></i>
            {% endif %}
            <form class="light_form" action={% url 'light_switch' obj.light.id %} method="post">
                {% csrf_token %}
                <p>
                    is {{obj.from.as_p}}
                    <button type="submit" name="submit">valiez</button>
                </p>
            </form>


        </article>
    {% endfor %}
</section>
{% endblock %}
{% block footer %}

{% endblock %}
{% block script %}
<script>
        $(document).ready(function(){
            $('.light_form').submit(function(event){
                var url= $(this).attr('action');
                var data = $(this).serializeArray();

                $.ajax({
                    url : url,
                    data : data,
                    method : "post",
                    success : function(response){
                        console.log(response);
                        if (response.status == "ON") {
                            $(`#light-${response.id}`).children('i').removeClass('fas')
                            $(`#light-${response.id}`).children('i').addClass('far')
                        }else {
                            $(`#light-${response.id}`).children('i').removeClass('far')
                            $(`#light-${response.id}`).children('i').addClass('fas')
                        }
                    }
                })

                event.preventDefault();
            });
        });
    </script>

{% endblock %}
