{% extends "light/base.html" %}
{% block header %}

{% endblock %}


{% block main %}
<section class="grid">
    {% for light in object_list %}
        <article class="grid-element">

            {% if light.status == "ON" %}
            <i class="far fa-lightbulb"></i>
            {% else %}
            <i class="fas fa-lightbulb"></i>
            {% endif %}
            <br>
            {{ light.id }}
        </article>
    {% endfor %}
</section>
{% endblock %}
{% block footer %}

{% endblock %}
